{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact edit</h1>
    <a href="{{ path('contact_index') }}" class="btn"><i class="material-icons left">home</i> Back</a>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn " value="Save" />
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
        <input type="submit" class="btn red" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
