{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Type</th>
                <th>Number</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phoneType }}</td>
                <td>{{ contact.number }}</td>
                <td>

                    <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn"><i class="material-icons left">edit</i> Edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}" class="btn">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
