{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact creation</h1>
    <a href="{{ path('contact_index') }}" class="btn"><i class="material-icons left">home</i> Back</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="submit" class="btn " value="Create" />
    {{ form_end(form) }}


{% endblock %}
