{% extends 'base.html.twig' %}

{% block body %}
    <h1>Types list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('type_edit', { 'id': type.id }) }}" class="btn"><i class="material-icons left">edit</i> Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('type_new') }}" class="btn">Create a new type</a>
        </li>
    </ul>
{% endblock %}
