{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type creation</h1>
    <a href="{{ path('type_index') }}" class="btn"><i class="material-icons left">home</i> Back</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn"/>
    {{ form_end(form) }}


{% endblock %}
