<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>PSL PhoneBook</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
{#
    <li><a href="/contact">Magic PhoneBook</a></li>
    <li><a href="/contact">Magic PhoneBook</a></li>
    <li><a href="https://www.linkedin.com/in/amirbeygi/">My linked-in profile</a></li>
    <li><a href="https://www.taskershop.ca">TaskerShop (pet project)</a></li>

#}
<nav class="light blue"  role="navigation" >
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo"><img class="responsive-img" src="{{ asset('assets/images/logo.png') }}" alt=""></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('contact_index') }}">Magic PhoneBook</a></li>
            <li><a href="{{ path('type_index') }}">Type Admin (admin/secret)</a></li>

            <li><a href="https://www.linkedin.com/in/amirbeygi/">My linked-in profile</a></li>
            <li><a href="https://www.taskershop.ca">TaskerShop (pet project)</a></li>

        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ path('contact_index') }}">Magic PhoneBook</a></li>
            <li><a href="{{ path('type_index') }}">Type Admin (admin/secret)</a></li>
            <li><a href="https://www.linkedin.com/in/amirbeygi/">My linked-in profile</a></li>
            <li><a href="https://www.taskershop.ca">TaskerShop (pet project)</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="card-panel orange">
                <span class="white-text">{{ label|upper }}:  {{ message }}</span>
            </div>

        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}

</div>


<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Made by Amir for PSL Group
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/js/init.js"></script>

</body>
</html>